<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/user.style.css" />
    <link rel="icon" type="image/ico" href="~/lib/img/e.ico" />

</head>
<body>

    <!-- menu -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand">
                <img src="~/lib/img/e.ico" class="img-fluid" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="~/Home/Index?category=0" class="nav-link" name="mainMenu1">Главная страница</a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Home/UserOrders?category=0" class="nav-link" name="mainMenu2">Мои заявки</a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Home/BookMarks?category=0" class="nav-link" name="mainMenu4">Мои закладки</a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Home/CreateOrder" class="nav-link" name="mainMenu3">Создать заявку</a>
                    </li>

                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="~/Home/Profile" name="mainMenu4" class="nav-link " alt="profile">
                            <img src="~/lib/img/a.png" alt="profile" class="img-fluid " />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /menu -->
    <!-- header -->
    <div class="container" style="margin:25px 15px;">
        <h1 class="main">@ViewData["MainTitle"]</h1>
    </div>
    <!-- /header -->
    <!--content-->
    <div class="container-fluid">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    <!--/content-->
    <!--Footer-->
    @*<div class="container-fluid footer borderFooter">
            <!--Copyright-->
            <footer class="py-1 text-center">
                <p>&copy 2018 Copyright by: OdER</p>
            </footer>
            <!--/Copyright-->
        </div>*@
    <!--/Footer-->
   

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/user.script.js"></script>
    <script src="~/lib/jquery/dist/jquery.maskedinput.min.js"></script>

    <script>
        var menuLinks = document.getElementsByName('mainMenu');
        menuLinks.forEach(function (element, i, arr) {
            element.onclick = function () {
                arr.forEach(function (param) { param.classList.remove("active"); });
                element.classList.add("active");
            }
        });

//        $(document).ready(function () {
//            $('#s1').hover(
//            function() {
//                    $('#img1').addClass('hover')

//                });
//            function() {
//                $('#img1').removeClass('hover')

//            });
//});

    </script>

  


    @RenderSection("Script", false)

</body>
</html>
