
@{
    ViewData["Title"] = "Sorry";
    ViewData["MainTitle"] = "Ошибка";
}


<div class="note borderTop col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">

   <h1 class="borderElement textP headersText">О, великий господин! Возникла ошибка при обработке данного запроса. 
    Прошу простить ничтожных разработчиков данного приложения. Низших созданий, посмевших создать это.
    Наши жизни ничего не стоят, прикажите умереть за такую нелепость!</h1>

</div>